@model GCDGameStore.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <p>Login Successful</p>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
