@{
    ViewData["Title"] = "Report Index";
    Layout = "_EmployeeLayout";
}

<h2>Game Detail Report</h2>

<h3>@DateTime.Now</h3>

<h3>Current Top Seller</h3>

<ul>
    <li>Title: Doom</li>
    <li>Copies Sold: 450</li>
    <li>Hours Played This Week: 9250</li>
    <li>Total Wish Lists: 350</li>
    <li>Downloads This Week: 200</li>
    <li>Average Rating: 4.6/5</li>
</ul>

<a asp-action="Index">Return</a>

