@{
    ViewData["Title"] = "Report Index";
}

<h2>Reports</h2>

<ul>
    <li>
        <a asp-action="GameList">Generate Game List Report</a>
    </li>
    <li>
        <a asp-action="GameDetail">Generate Game Detail Report</a>
    </li>
    <li>
        <a asp-action="MemberList">Generate Member List Report</a>
    </li>
    <li>
        <a asp-action="MemberDetail">Generate Member Detail Report</a>
    </li>
    <li>
        <a asp-action="WishList">Generate Wish List Report</a>
    </li>
    <li>
        <a asp-action="Sales">Generate Sales Report</a>
    </li>
</ul>


