@{
    ViewData["Title"] = "Report Index";
}

<h2>Member List Report</h2>

<h3>@DateTime.Now</h3>

<ul>
    <li>Total New Members: 2500</li>
    <li>High Traffic Member Log In Times: 7:03pm EST</li>
    <li>Member Activity Times: 3 hours per day average</li>
</ul>

<a asp-action="Index">Return</a>
