@{
    ViewData["Title"] = "Report Index";
}

<h2>Member Detail Report</h2>

<h3>@DateTime.Now</h3>

<ul>
    <li>Username: Mike</li>
    <li>Account Creation Date: May 17th, 2016</li>
    <li>Average Activity per Session: 2.5 hours</li>
</ul>
<h3>Top 5 Played Games</h3>
<ul>
    <li>Doom</li>
    <li>Monster Hunter</li>
    <li>Starcraft</li>
    <li>Platformer RPG</li>
    <li>DriverMan</li>
</ul>
<h3>Recently Purchased Games</h3>
<ul>
    <li>IndieQuest</li>
    <li>AAA RPG</li>
</ul>

<h3>Lowest 5 Played Games</h3>
<ul>
    <li>Shooter 64</li>
    <li>That MOBA Where you just get yelled at</li>
    <li>Movie Gear Solid</li>
    <li>That AAA game they never fixed</li>
    <li>Broken Indie Game</li>
</ul>


<p>Last Login Time: 7:05pm October 7th, 2018</p>

<a asp-action="Index">Return</a>
