@{
    ViewData["Title"] = "Report Index";
}

<h2>Member List Report</h2>

<h3>@DateTime.Now</h3>

<h3>Top 5 Wishlisted Games</h3>
<ul>
    <li>Starcraft</li>
    <li>Shooterman</li>
    <li>DriveQuest 64</li>
    <li>MOBA Rage Simulator</li>
    <li>Movie Gear Solid</li>
</ul>

<a asp-action="Index">Return</a>
