@model GCDGameStore.Models.Friend
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Create";
    Layout = "_MemberLayout";
}

<h2>Create</h2>

<h4>Friend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p class="text-danger">@Context.Session.GetString("Error")</p>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Friend's Username</label>
                <input class="form-control" required name="username"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
